<p id="task_<%= task.id %>" class="<%= task.completed ? 'completed' : 'uncompleted' %> list-group-item">
  <%= check_box_tag 'complete', task.completed, task.completed,
                    :data => {
                        remote: true,
                        url: url_for(
                            action: 'complete',
                            id: task.id,
                            complete: task.completed,
                            controller: :tasks),
                        method: :put } %>
  <%= task.name %>

  <%= link_to [task.project, task],
              method: :delete,
              data: {confirm: 'Are you sure?'},
              remote: true do %>
      <span id="delete" class="glyphicon glyphicon-trash controls"></span>
  <% end %>

  <%= link_to edit_project_task_path(project, task) do %>
      <span id="edit" class="glyphicon glyphicon-pencil controls"></span>
  <% end %>

  <span id="move" class="glyphicon glyphicon-move controls"></span>
</p>
